html, body {
    width: 100%;
    height: 100%;
  }

  body {
    padding: 0;
    margin: 0;
  }

  #brandName {
    font-size: 2em;
  }

  #navitabs1 {
    font-size: 1.2em;
  }

  #top1 {
    background-color: rgb(23, 105, 126);
    padding: 35px;
  }

  #top2 {
    background-color: rgb(23, 105, 126);
    padding: 35px;
  }

  #top3 {
    background-color: rgb(241, 205, 0);
    padding: 35px;
    background-image: url(../images/starter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
  }

  #top4 {
    background-color: rgb(241, 205, 0);
    padding: 35px;
    border-radius: 15px;
  }

  #welcome {
    text-align: center;
    padding: 20px;
    margin-top: 105px;
    margin-bottom: 15px;
    background-image: url(../images/nerd1blurblue.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
  }

  #starter {
    text-align: center;
    padding: 60px;
    margin-top: 105px;
    margin-bottom: 15px;
    background-image: url(../images/starter.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
  }

  #topbar1 {
    padding: 60px;
    margin-top: 105px;
    margin-bottom: 15px;
  }

  #welcomepar {
    text-align: justify;
  }

  #signUpJumbo {
    border-radius: 30px;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(217, 236, 248, 0.879);
  }

  p {
    font-family: 'Cabin', sans-serif;
  }

  #inforow {
    margin-top: 20px;
    margin-bottom: 35px;
    border-radius: 20px;
  }

  #infobox1 {
    color: rgb(15, 30, 32);
    text-align:center;
    padding:15px;
  }

  #infobox2 {
    padding: 10px;
    background-color: rgba(140, 178, 207, 0.733);
    color: rgb(15, 30, 32);
    text-align: center;
    padding:15px;
  }

  #infobox3 {
    padding: 10px;
    background-color: rgba(255, 188, 2, 0.678);
    color: rgb(15, 30, 32);
    text-align: center;
    padding:15px;
  }

  #infobox4 {
    padding: 10px;
    background-color: rgb(140, 178, 207);
    color: rgb(15, 30, 32);
    text-align: left;
    padding:15px;
    border-width: 5px;
    border-color:rgba(16, 18, 22, 0.623));
  }

  #markerheading {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
  }

  #punchyheading {
    font-family: 'Bangers', cursive;
    text-align: center;
  }

  #infoimage1 {
    background-image: url(../images/nerdroom.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding:15px;
  }

  #imagetext {
    color: rgb(239, 244, 250);
    text-align: center;
    text-shadow: 25px;
    font-family: 'Cabin', sans-serif;
    background-color: rgba(73, 73, 73, 0.623);
  }

  #thumbimg {
    border: 1px solid rgba(217, 236, 248, 0.879);
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
  }

  #thumbimg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5)
  }

  #gogcal {
    border:solid 1px #777;
    width: 800px;
    height: 600px;
    border-width: 5px;
    border-color: black;
    margin: 0px, 25px;
  }

  .aspect-ratio {
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    position: relative;
  }

  .aspect-ratio iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: solid 15px rgb(241, 205, 0);
  }

  #signupform {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 25px;
    text-align: center;
  }

  #footerstyle {
    background-color: rgb(15, 15, 15);
    background-size: cover;
    color: rgb(172, 172, 172);
    padding: 30px;
    margin-top: 60px;
  }
